html {
    scroll-behavior: smooth;
}

.header-section {
    background: #3498db;
}

.logo img {
    width: 120px;
}

.menu {}

.menu ul {
    margin-bottom: 0;
}

.menu ul li {
    display: inline-block;
    margin-left: -4px;
}

.menu ul li a {
    display: block;
    color: #fff;
    padding: 0 30px;
    font-size: 20px;
    line-height: 76px;
    border-right: 1px solid #ddd;
    text-decoration: none;
}

.banner-section {
    background-image: url(./img/banner.webp);
    padding: 200px 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-section .banner-text {}

.banner-section .banner-text h2 {
    color: #fff;
    background-color: #999999;
    display: inline-block;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 5px;
    margin-bottom: 25px;
}

.banner-section .banner-text h1 {
    color: #fff;
    background-color: #7fbdea;
    max-width: 550px;
    margin: auto;
    font-size: 47px;
    padding: 7px 20px;
    border-radius: 5px;
}

.about-section {
    background-color: #ecf0f1;
}

.about-section h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.about-section p {}

.serivce-section {
    background-color: #f9f9f9;
}

.card {
    padding: 30px 0;
}

.serivce-section span {
    background-color: #3498db;
    color: #fff;
    padding: 7px 15px;
    font-size: 30px;
    border-radius: 20px 0 20px 0;
    margin: auto;
}

.serivce-section h2 {
    padding: 15px 0;
    font-size: 32px;
}

.serivce-section p {}

img {
    max-width: 100%;
}

.blog-item p {
    font-size: 18px;
}

.blog-right h2 {
    font-size: 35px;
    font-family: inherit;
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
    margin-bottom: 15px;
}

.blog-right ul {
    list-style: none;
    padding-left: 0;
}

.blog-right ul li {
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-section {
    background-color: #2c3e50;
}

.footer-section p {
    margin-bottom: 0;
}

.footer-section a {
    color: #fff;
    margin-left: 15px;
    display: inline-block;
    text-decoration: none;
}
